@import "../../assets/scss/app.scss";

.charactersPage {

  .linearProgressWrapper {
    @include linearProgressWrapper;
  }


  .title {
    @include h1();
  }

  .pagination {
    margin-top: 16px;

    @include desktop() {
      margin-top: 24px;
    }
  }

  .cards {
    margin-top: 16px;

    @include desktop() {
      margin-top: 24px;
    }

    .inner {
      margin: -6px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

  }
}